main{
    padding: 1rem;
}
.home-page ul{
    list-style: none;
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.home-page li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 48%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.home-page li svg{
    font-size: 40px;
    color: #dee2e6;
}
.home-page li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 2rem;
}